# The images - we do not want to commit these.
dolphins-fig.jpg
Hubble2005-01-barred-spiral-galaxy-NGC1300_WEB.jpeg
lucid-occupancy_WEB.jpeg
techdemosat_selfie_WEB.png
tprice_exp-setup_HD.jpeg
galdyn-warp_RAW.png
Humpback_Whale_underwater_shot.jpeg
MoEDAL-IMG-001.jpg
thamana_cosmic-shear-sim.jpeg
get_images.sh
lsst-landscape.jpg
PRaVDA_SuSi-schematic_WEB.jpeg
thamana_cosmic-shear-sim_web.jpg
